<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hangzhu.mapper.OwnerServiceMapper">
	<resultMap id="ownerMap" type="Owner">
		<result column="ono" property="ono" />
		<result column="oname" property="oname" />
		<result column="sex" property="sex" />
		<result column="phone" property="phone" />
		<result column="password" property="password" />
		<result column="cer" property="cer" />
	</resultMap>

	<select id="checkOwner" resultMap="ownerMap">
	   select * from owner where ono=#{ono} and password=#{password}
	</select>
	
    <select id="checkOno"  parameterType="String" resultType="String">
       select ono from owner where ono=#{ono}
    </select>

	<insert id="addOwner" parameterType="Owner">
		insert into owner values(#{ono},#{oname},#{sex},#{phone},#{password},#{cer})
	</insert>

	<update id="updatePhone">
		update owner set phone=#{n_phone} where ono=#{ono}
	</update>
    
    <update id="updatePw">
        update owner set password=#{n_pw} where ono=#{ono}
    </update>
    
    <select id="getOwner" resultMap="ownerMap">
       select * from owner where ono=#{ono} and oname=#{oname}
    </select>
    
    <select id="getCount" resultType="int">
       select count(*) from owner
    </select>
    
    <select id="getCer"  parameterType="String" resultType="int">
       select cer from owner where ono=#{ono}
    </select>
    
    <update id="updateCer"  parameterType="String">
       update owner set cer= (case when cer=0 then 1 else 2 end) where ono=#{ono};
    </update>
</mapper>